services:
  api:
    image: zccajgb/simplicity-api:latest
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # depends_on:
      # - mongodb
    environment:
      RUST_LOG: info
      MONGO_URL: ${MONGO_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      API_URI: ${API_URI}
      API_KEY: ${API_KEY}
      ROCKET_LOG_LEVEL: ${ROCKET_LOG_LEVEL}
      REDIRECT_URL: http://localhost:8080

  client:
    image: zccajgb/simplicity-client:latest
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - api

  # mongodb:
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db
  #   command: mongod --quiet

  cron:
    image: zccajgb/simplicity-cron:latest
    build:
      context: ./cron
    environment:
      API_URL: ${API_URL}
      API_KEY: ${API_KEY}


volumes:
  mongo-data:
