0 1 * * * /usr/bin/env API_URL=$API_URL API_KEY=$API_KEY /app/script.sh > /proc/1/fd/1 2>/proc/1/fd/2
# * * * * * /usr/bin/env API_URL=$API_URL API_KEY=$API_KEY /app/script.sh > /proc/1/fd/1 2>/proc/1/fd/2
# * * * * * /usr/bin/env echo "API_URL=$API_URL API_KEY=$API_KEY" > /proc/1/fd/1 2>/proc/1/fd/2
